.TabOn{
  width: 50%;
  border: 1px solid dodgerblue;
  text-align: center;
  padding:5px;
  background-color: dodgerblue;
  cursor: pointer;
  color: white;
}

.TabOff{
  width: 50%;
  border: 1px solid grey;
  text-align: center;
  padding:5px;
  cursor: pointer;
  transition-duration: 300ms;
  color: black;
}

.TabOff:hover{
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  color: white;
  transition-duration: 300ms;
}