.TabOn {
  width: 50%;
  border: 1px solid dodgerblue;
  text-align: center;
  padding: 5px;
  background-color: dodgerblue;
  cursor: pointer;
  color: white;
}

.TabOff {
  width: 50%;
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition-duration: 300ms;
  color: black;
}

.TabOff:hover {
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  color: white;
  transition-duration: 300ms;
}

.employerHomeSingle {
  margin: 10px;
  height: auto;
  width: 75%;
  padding: 30px;
  background-color: #b1ede8;
  border-radius: 10px;
}

.employerDescription {
  font: poppins;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.employerDescriptionExpanded {
  white-space: pre-line;
  font: poppins;
  overflow: hidden;
  animation: anilen;
  animation-duration: 250ms;
}

@keyframes anilen {
  0% {
    transform: scaleX(1) scaleY(0);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.butOn {
  color: black;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  background-color: white;
}

.butOff {
  color: white;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
  padding: 5px;
  margin: 10px;
  background-color: black;
}

.acceptedBut {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}

.acceptedBut:hover{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid green;
  margin: 10px;
  color: white;
  background-color: green;
  cursor: pointer;
  transition-duration: 200ms;
}

.rejectedBut {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}

.rejectedBut:hover{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgb(250, 63, 88);
  margin: 10px;
  color: white;
  background-color: rgb(250, 63, 88);
  cursor: pointer;
  transition-duration: 200ms;
}